[submodule "tophat-theme"]
	path = tophat-theme
	url = https://github.com/sergiobarriel/tophat-theme.git
[submodule "themes/tophat"]
	path = themes/tophat
	url = https://github.com/sergiobarriel/tophat-theme.git
[submodule "themes/lowkey"]
	path = themes/lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
